.channelList {
  list-style: none;
  width: calc(100vw / 2 / 3 - 10px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px 10px;
  cursor: pointer;
  margin: 5px;
}
.channelId {
  font-size: 13px;
  font-weight: bold;
}

.userList {
  list-style: none;
  width: calc(100vw / 2 / 3 - 10px);
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}
.icon {
  width: 30%;
  margin-right: 10px;
}
.iconImage {
  display: block;
  width: 100%;
}
.names {
  width: 70%;
}
.realName {
  font-size: 13px;
  font-weight: bold;
}
.userId {
  font-size: 10px;
  color: #3C3C3C;
}