<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Slack Mailing List</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <header>
    <div class="img">
      <img src="/images/slack-logo.png" alt="slack logo">
    </div>
    <h1>Slack Message Manager</h1>
  </header>
  <div class="content">
    <div class="img">
      <img src="/images/login-right.png" alt="login right image">
    </div>
    <div class="login-container">
      <p>
        Slack Message Managerは<br/>
        あなたのアカウントでログインをして、<br/>
        チームメイトに一斉にDMをするための<br/>
        便利なツールです。
      </p>
      <a href="/auth">Slackでログインする</a>
    </div>
  </div>
</body>
</html>