.container {
  width: 100%;
  display: flex;
}
.memberList {
  width: 50%;
  height: calc(100vh - 70px);
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}
.channelsAndTextArea {
  width: 50%;
}
.channelList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}